{% extends './base.html' %}
{% import 'menu.html' as menu %}


{% block title %}Choferes{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
  
<header class="navbar" data-bs-theme="dark">
  <img class="remis_america" src="{{ url_for('static', filename='img/Logo.jpeg') }}" >
  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>
</header>

  {{menu.render_template(menu)}}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Choferes</h2>
      <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>
    <br>
    <div class="AsignacionDeViajes">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert-container">
          {% for message in messages %}
          <div class="alert alert-dismissible alert-success" role="success">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <form class="row g-3" method="post" action="/choferes">
        <div class="choferes">
          <input type="text" readonly class="form-control-plaintext" placeholder="Ingrese Chofer">    
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre"> 
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <br>    
          <input type="text" class="form-control" id="apellido" name="apellido" placeholder="apellido">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <br>
          <button type="submit" class="btn btn-primary mb-3">registrar</button>
        </div>
      </form>
      <br><br>
    </div>
    <h2>Choferes</h2>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
            </tr>
          </thead>
          <tbody>
            {% for chofer in listado_choferes %}
              <tr>
                <td>{{ chofer[0] }}</td>
                <td>{{ chofer[1] }}</td>
                <td>{{ chofer[2] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </main>  
{% endblock %}
