{% extends './base.html' %}
{% import 'menu.html' as menu %}


{% block title %}Clientes{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<header class="navbar" data-bs-theme="dark">
  <img class="remis_america" src="{{ url_for('static', filename='img/Logo.jpeg') }}" >
  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>
</header>

  {{menu.render_template(menu)}}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>
    <br>
    <h2>Clientes</h2>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre y Apellido</th>
              <th scope="col">Domicilio</th>
              <th scope="col">Teléfono</th>
            </tr>
          </thead>
          <tbody>
            {% for chofer in listado_clientes %}
              <tr>
                <td>{{ chofer[0] }}</td>
                <td>{{ chofer[1] }}</td>
                <td>{{ chofer[2] }}</td>
                <td>{{ chofer[3] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </main>    
{% endblock %}
