{% extends './base.html' %}
{% import 'menu.html' as menu %}


{% block title %} Home {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}

<header class="navbar" data-bs-theme="dark">
  <img class="remis_america" src="{{ url_for('static', filename='img/Logo.jpeg') }}" >
  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>
</header>

  {{menu.render_template(menu)}}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Home</h2>
      <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>
    <br>
    <div class="AsignacionDeViajes">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert-container">
          {% for message in messages %}
          <div class="alert  alert-success" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <form class="row g-3" method="post" action="/asignar">
        <div class="titulo_cliente">
          <input type="text" readonly class="form-control-plaintext" placeholder="N° Cliente">
        </div>
        <div class="col-auto">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="text" class="form-control" id="telefono" name="telefono" placeholder="teléfono">
        </div>
        <div class="col-auto">
          <input type="hidden" name="accion" value="asignar">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-primary mb-3">asignar</button>
        </div>
      </form>
      <form method="post" action="/nuevo_cliente">  
        <div class="col-auto">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" formaction="/nuevo_cliente" class="btn btn-primary mb-3">nuevo cliente</button>
        </div>
      </form>
      <br><br>
    </div>
    <h2>Historial de Viajes</h2>
    <br>
    <div class="table-responsive small">
      <table class="table table-striped table-sm" name="historial_viajes">
        <thead>
          <tr>
            <th scope="col">N° Viaje</th>
            <th scope="col">Cliente</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Chofer</th>
            <th scope="col">Fecha</th>
            <th scope="col">Direccion</th>
            <th scope="col">Destino</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for viaje in viajes %}
            {% if viaje[7] == 1 and viaje[8] == 0 %} <!--si es estado es true se ejecuta el bloque-->
          <tr>
            <td>{{ viaje[0] }}</td>
            <td>{{ viaje[1] }}</td>
            <td>{{ viaje[2] }}</td>
            <td>{{ viaje[3] }}</td>
            <td>{{ viaje[4] }}</td>
            <td>{{ viaje[5] }}</td>
            <td>{{ viaje[6] }}</td>
            <td>
              <form action="{{ url_for('finalizar_viaje')}}" method="post">
                <input type="hidden" name="viaje_id" value="{{ viaje[0] }}">
                <input type="hidden" name="chofer_id" value="{{ viaje[3] }}">
                <button type="submit" class="btn btn-primary">Finalizar Viaje</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              </form>            
            </td>           
          </tr>
           {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
    <h2>Viajes en espera</h2>
    <br>
    <div class="table-responsive small">
      {% if viajes_en_espera %}
      <table class="table table-striped table-sm" name="viajes_espera">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha</th>
            <th scope="col">Direccion</th>
            <th scope="col">Destino</th>
            <th scope="col">Acción</th> <!-- Agregado para mostrar el botón de asignar viaje -->
          </tr>
        </thead>
        <tbody>
            {% for viaje in viajes_en_espera %}
              <tr>
                <td>{{ viaje['cliente'] }}</td>
                <td>{{ viaje['telefono_cliente'] }}</td>
                <td>{{ viaje['fecha'] }}</td>
                <td>{{ viaje['direccion'] }}</td>
                <td>{{ viaje['destino'] }}</td>
                <td>
                  <form action="/viajes" method="get" name="viajesEsperaForm" id="viajesEsperaForm_{{ loop.index }}">
                    <input type="hidden" name="cliente_info" value="{{ viaje['cliente'] }}">
                    <input type="hidden" name="telefono_cliente" value="{{ viaje['telefono_cliente'] }}">
                    <input type="hidden" name="fecha" value="{{ viaje['fecha'] }}">
                    <input type="hidden" name="direccion" value="{{ viaje['direccion'] }}">
                    <input type="hidden" name="destino" value="{{ viaje['destino'] }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary">Asignar Viaje</button>
                  </form>            
                </td>
              </tr>
            {% endfor %}    
        </tbody>
      </table>
      {% else %}
      <tr>
        <td colspan="6">No hay viajes en espera.</td>
      </tr>
      {% endif %}
    </div>

  </main>

{% endblock %}