{% extends './base.html' %}
{% import 'menu.html' as menu %}


{% block title %}Nuevo Cliente{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}

<header class="navbar" data-bs-theme="dark">
  <img class="remis_america" src="{{ url_for('static', filename='img/Logo.jpeg') }}" >

  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>
</header>

  {{menu.render_template(menu)}}
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Nuevo Cliente</h2>
      <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>
    <br>
    <div class="nuevo_cliente">
      <form class="row g-3" method="post" action="/ingresar_cliente">
        <div class="titulo_cliente">
          <input type="text" readonly class="form-control-plaintext" placeholder="Formulario cliente">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input class="form-control" type="text" name="NombreyApellido" placeholder="Nombre y Apellido" aria-label="default input example">
          <br>
          <input class="form-control" type="text" name="Domicilio" placeholder="Domicilio" aria-label="default input example">
          <br>
          <input class="form-control" type="text" name="Telefono" placeholder="Teléfono" aria-label="default input example">

          <br>
          <button type="submit" formaction="/ingresar_cliente" class="btn btn-primary mb-3">ingresar cliente</button>
        </div>
      </form>
      <br><br>
    </div>
  </main>

{% endblock %}
